
*{
  box-sizing:border-box;
}
html,body,#root{
  height:100%;
  position:fixed;
  top:0;left:0;bottom:0;right:0;
}

body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(180deg, #83a4d4, #b6fbff); 
  color:black;
}

header{ 
  position:absolute;
  top:0;
  left:0;
  width:100%;
  border-bottom:1px solid white;
  color:white;
  padding: 5px 10px 5px; 
  background:rgba(255, 255, 255, 0.2);
  display:flex;
  height:3rem;
  align-items:center;
  justify-content: space-between;
  font-size:1.2rem;
}

.logo-wrap{
  display:flex;
  align-items: center;
}

.logo{
  height:2rem;
  margin-right:10px;
}

.text-input{
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 5px 15px 0px; 
  border-top: 1px solid white;
  background:rgba(255, 255, 255, 0.2);
  outline:none;
}

.text-box{
  position: absolute;
  border-radius: 10px;
  width: calc(100% - 6rem);
  left: 4%;
  color:#4FB2FC;
  top: 15%;
  height: 32px;
  border: 1px #FFFFFF;
  background: #FFFFFF;
}


.send-button {
  height: 32px;
  position: absolute;
  top: 15%;
  left: 96%;
  border-radius:10px;
  background:#83a4d4;
  color:white;
  outline:none;
  border:4px white;
}

.send-button:hover{
  background:rgba(50,50,155,0.9);
  color:white;
}
.send-button:focus{
  outline: none;
  border:1px solid rgba(200,200,255,0.9);
}
.send-button:disabled{
  color:white;
  background:rgb(194, 194, 194);
}

.messages{
  height:calc(100% - 8rem);
  width:100vw;
  top:4rem;
  left:0px;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  overflow-y:scroll;
}

.message {
  color: black;
  background: white;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  position:relative;
  margin-top:10px;
}

.message-wrap{
  width:100%;
  display:flex;
  justify-content: flex-start;
  margin-top:8px;

}

.message-wrap[from="me"]{
  justify-content: flex-end;
}


.msg-text{
  color:#4FB2FC;
  font-size:13px;
  background:white;
  border-radius:6px;
  padding:2px 2px;
  display: inline-block;
}

.msg-name{
  font-size:10px;
  color:white;
  position: absolute;
  top:-14px;
  left:1px;
}


.edit-username{
  display: flex;
  align-items: center;
}

.name-button{
  height:29px;
  margin:0 6px;
  background: transparent;
  color:white;
  font-size:18px;
  padding:4px;
  outline:none;
  border:none;
  cursor: pointer;
  border-radius:4px;
}

.name-input{
  color:white;
  height:31px;
  border:1px solid white;
  border-radius:14px;
  padding-left:12px;
  background: #83a4d4;
  padding-bottom:2px;
  font-size:12px;
  outline:none;
}

.name-button:hover{
  background:rgba(255,255,255,0.1)
}


header img{
  height:24px;
  margin-right:10px;
}



.send-button {
  height: 32px;
  position: absolute;
  top: 15%;
  left: 96%;
  border-radius:10px;
  background:#83a4d4;
  color:white;
  outline:none;
  border:4px white;
}

.send-button:hover{
  background:rgba(50,50,155,0.9);
  color:white;
}
.send-button:focus{
  outline: none;
  border:1px solid rgba(200,200,255,0.9);
}
.send-button:disabled{
  color:white;
  background:rgb(194, 194, 194);
}





.camera-button{
  margin:0 6px;
  background: transparent;
  color: rgb(194, 194, 194);
  padding:4px;
  outline:none;
  border:none;
  cursor: pointer;
}

.camera-button:hover{
  color:#83a4d4;
}