
*{
  box-sizing:border-box;
}
html{
  height:100%;
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(180deg, #83a4d4, #b6fbff); 
  color:black;
}

header{ 
  position:absolute;
  top:0;
  left:0;
  width:100%;
  border-bottom:1px solid white;
  color:white;
  padding: 5px 10px 5px; 
  background:rgba(255, 255, 255, 0, 5);
  display:flex;
  height:48px;
  align-items:center;
  justify-content: space-between;
}

.logo-wrap{
  display:flex;
  align-items: center;
}

.edit-username{
  display: flex;
  align-items: center;
}

.name-button{
  height:29px;
  margin:0 6px;
  background: transparent;
  color:white;
  font-size:18px;
  padding:4px;
  outline:none;
  border:none;
  cursor: pointer;
  border-radius:4px;
}

.name-input{
  color:white;
  height:31px;
  border:1px solid white;
  border-radius:14px;
  padding-left:12px;
  background:#4FB2FC;
  padding-bottom:2px;
  font-size:12px;
  outline:none;
}

.name-button:hover{
  background:rgba(255,255,255,0.1)
}

.messages{
  height:calc(100vh - 96px);
  width:100vw;
  top:50px;
  left:0px;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  overflow-y:scroll;
}

header img{
  height:24px;
  margin-right:10px;
}

.text-input{
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 38px;
  padding: 5px 15px 0px; 
  border-top: 1px solid white;
  background:rgba(255, 255, 255, 0.4);
  height:48px;
}


.send-button img{
  height: 26px;
  position: absolute;
  top: 22%;
  left: 97%;
}

.text-box{
  position: absolute;
  border-radius: 10px;
  width: 97%;
  top: 22%;
  height: 26px;
  border: 1px #FFFFFF;
  background: #FFFFFF;
}


.message {
  color: black;
  background: white;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}

.message-wrap{
  width:100%;
}